### --- Archivos generados por el IDE --- ###
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/
*.class

# Eclipse
.settings/
.project
.classpath
.metadata/
bin/
tmp/

# VS Code
.vscode/


### --- Dependencias y builds --- ###
# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# Gradle
.gradle/
build/
!gradle-wrapper.jar


### --- Configuraciones sensibles --- ###
.env
*.properties
*.keystore
*.jks


### --- Logs y temporales --- ###
*.log
*.tmp
*.swp


### --- Web/Server --- ###
# Tomcat u otros servidores embebidos
**/src/main/webapp/WEB-INF/classes/
**/src/main/webapp/META-INF/


### --- Sistemas operativos --- ###
# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini