@charset "UTF-8";

body{
	margin: 0;
	font-family: Arial;
}
header{
	height: 15vh;
	position: sticky;
      top: 0;
      background-color: rgb(214, 214, 214); 
      z-index: 1000;
      padding: 10px;
      border-bottom: 1px solid rgb(0, 0, 128);
	
}
footer{
    width: 100%;
    background-color: #8aef96 ;
    height: 50px;
    color: white;
    font-family: montserrat, arial;
    position: fixed;
    bottom:0;
    z-index: 100001;
    text-align: end;
}
h1{
	color: grey ;
}
/*LOGIN*/
.contenedorPincipal{
	display: grid;
	margin: 50px auto;
	justify-content: center;
	text-align: center;
}
.formStyle{
	display: flex;
	flex-direction: column;

	height: 25vh;
	gap:10px;
	border: 1px solid grey;
	border-radius: 10px;
	padding: 20px;
}
.formStyle input{
	border-radius: 5px;
	height: 2vh;
	width: 50%;
	
}
.contenidoForm{
	display: flex;
	gap: 2px;
	justify-content: flex-end;
	gap: 2px
}
.contenedorBtnForm {
  display: flex;
  justify-content: center;
}

.formButton{
	margin-top:30px;
	width: 10vh;
	height: 4vh;
	border: 0px;
	border-radius: 5px;
	font-weight: bold;
}
.formButton:hover {
  	background-color: red;
}

.formButton:active {
  	background-color: blue;
}

.info{
	text-align: center;
    margin: 60px auto 0 auto;
    background-color: #b4d2fa;
    height: 3vh;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 50%;
	border: 2px solid #5196f3;
    color: white;
}
.alert{
	text-align: center;
    margin: 60px auto 0 auto;
    background-color: #da9696;
    height: 3vh;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 50%;
    border: 2px solid #a01010;
    color: white;
}

/**/

/*MANAGECARVIEW*/
.contenedor{
	width: 80%;
	margin: 6% auto 10% auto;
	display: flex;
	flex-direction: column;
	margin-top: 10%
}
.contenedor h1{
	text-align: center;
	margin: 30px 0 50px 0;
}
.separarFooter{
	
}
.tablaManageCar{
	border: 2px solid #1EA3EB ;
	border-collapse: collapse;
	text-align: center;

}

.tablaManageCar td, th{
	border: 2px solid #1EA3EB ;
	padding: 8px;
}

.pintarTablaMange{
	background-color: #BBCDF2;
}
.btnTabla{
	font-size: 20pt;
}

.btnTabla a{
	color: black;
}

.btnTabla a:hover{
	color: grey;
}


